<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-cookies.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <title>Currency feed</title>
</head>
<body ng-app="feedApp" ng-controller="feedController">
<div>
    MESSAGE : {{msg}}
</div>



MAIN!!!



<script>
    angular
            .module("feedApp",[]).controller("feedController", function ($scope, $http, $timeout){
                console.log('[Feed controller Init]');
                $scope.msg = 'hell yeah message!!!'
            })

</script>
</body>
</html>

